<h1>Show operador</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>

<br>
<a href="/operador/edit/<%= element.id %>">Edit</a>
<a href="/operador/create">New</a>
<a href="/operador">Back</a>
