<div class="">
	<h1>New militante</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/militante/create" method="post">
				<div class="">
					<label for="">createdAt</label>
					<input type="number" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="number" name="updatedAt" value="" required="false">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="true">
				</div>
				<div class="">
					<label for="">paterno</label>
					<input type="text" name="paterno" value="" required="false">
				</div>
				<div class="">
					<label for="">materno</label>
					<input type="text" name="materno" value="" required="false">
				</div>
				<div class="">
					<label for="">nombre</label>
					<input type="text" name="nombre" value="" required="false">
				</div>
				<div class="">
					<label for="">cedula</label>
					<input type="text" name="cedula" value="" required="false">
				</div>
				<div class="">
					<label for="">celular</label>
					<input type="text" name="celular" value="" required="false">
				</div>
				<div class="">
					<label for="">telefono</label>
					<input type="text" name="telefono" value="" required="false">
				</div>
				<div class="">
					<label for="">cargo</label>
					<input type="text" name="cargo" value="" required="false">
				</div>
				<div class="">
					<label for="">asistencia</label>
					<input type="number" name="asistencia" value="" required="false">
				</div>
				<div class="">
					<label for="">institucion</label>
					<input type="text" name="institucion" value="" required="false">
				</div>
				<div class="">
					<label for="">email</label>
					<input type="text" name="email" value="" required="false">
				</div>
				<div class="">
					<label for="">direccion</label>
					<input type="text" name="direccion" value="" required="false">
				</div>
				<div class="">
					<label for="">fechaNac</label>
					<input type="text" name="fechaNac" value="" required="false">
				</div>
				<div class="">
					<label for="">remplazo</label>
					<input type="text" name="remplazo" value="" required="false">
				</div>
				<div class="">
					<label for="">ci_remplazo</label>
					<input type="text" name="ci_remplazo" value="" required="false">
				</div>
				<div class="">
					<label for="">hora</label>
					<input type="text" name="hora" value="" required="false">
				</div>
				<div class="">
					<label for="">sexo</label>
					<input type="text" name="sexo" value="" required="false">
				</div>
			<button type="submit">Save militante</button>
		</form>
		<br />
		<a href="/militante">Index</a>
	</div>
</div>
