<div class="">
	<h1>New personas</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/personas/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="text" name="id" value="" required="true">
				</div>
				<div class="">
					<label for="">nombres</label>
					<input type="text" name="nombres" value="" required="false">
				</div>
				<div class="">
					<label for="">paterno</label>
					<input type="text" name="paterno" value="" required="false">
				</div>
				<div class="">
					<label for="">materno</label>
					<input type="text" name="materno" value="" required="false">
				</div>
				<div class="">
					<label for="">ci</label>
					<input type="text" name="ci" value="" required="false">
				</div>
				<div class="">
					<label for="">fecha_nacimiento</label>
					<input type="text" name="fecha_nacimiento" value="" required="false">
				</div>
				<div class="">
					<label for="">edad</label>
					<input type="number" name="edad" value="" required="false">
				</div>
				<div class="">
					<label for="">edad_tipo</label>
					<input type="text" name="edad_tipo" value="" required="false">
				</div>
				<div class="">
					<label for="">genero</label>
					<input type="text" name="genero" value="" required="false">
				</div>
				<div class="">
					<label for="">circunscripcion</label>
					<input type="text" name="circunscripcion" value="" required="false">
				</div>
				<div class="">
					<label for="">distrito_electoral</label>
					<input type="text" name="distrito_electoral" value="" required="false">
				</div>
				<div class="">
					<label for="">zona</label>
					<input type="text" name="zona" value="" required="false">
				</div>
				<div class="">
					<label for="">recinto</label>
					<input type="text" name="recinto" value="" required="false">
				</div>
				<div class="">
					<label for="">mesa</label>
					<input type="text" name="mesa" value="" required="false">
				</div>
				<div class="">
					<label for="">celular1</label>
					<input type="text" name="celular1" value="" required="false">
				</div>
				<div class="">
					<label for="">celular2</label>
					<input type="text" name="celular2" value="" required="false">
				</div>
				<div class="">
					<label for="">celular3</label>
					<input type="text" name="celular3" value="" required="false">
				</div>
				<div class="">
					<label for="">telefono</label>
					<input type="text" name="telefono" value="" required="false">
				</div>
				<div class="">
					<label for="">segip</label>
					<input type="text" name="segip" value="" required="false">
				</div>
				<div class="">
					<label for="">direccion</label>
					<input type="text" name="direccion" value="" required="false">
				</div>
				<div class="">
					<label for="">delegado</label>
					<input type="number" name="delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">institucion_listas_enviadas</label>
					<input type="text" name="institucion_listas_enviadas" value="" required="false">
				</div>
				<div class="">
					<label for="">institucion_min_trabajo</label>
					<input type="text" name="institucion_min_trabajo" value="" required="false">
				</div>
				<div class="">
					<label for="">ministerio_descentralizadas</label>
					<input type="text" name="ministerio_descentralizadas" value="" required="false">
				</div>
				<div class="">
					<label for="">tipo_delegado</label>
					<input type="text" name="tipo_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">distrito_politico</label>
					<input type="text" name="distrito_politico" value="" required="false">
				</div>
				<div class="">
					<label for="">circunscripcion_delegado</label>
					<input type="text" name="circunscripcion_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">distrito_delegado</label>
					<input type="text" name="distrito_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">zona_recinto_delegado</label>
					<input type="text" name="zona_recinto_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">recinto_delegado</label>
					<input type="text" name="recinto_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">mesa_delegado</label>
					<input type="text" name="mesa_delegado" value="" required="false">
				</div>
				<div class="">
					<label for="">corresponde_mismo_recinto</label>
					<input type="number" name="corresponde_mismo_recinto" value="" required="false">
				</div>
				<div class="">
					<label for="">asistencia</label>
					<input type="text" name="asistencia" value="" required="false">
				</div>
				<div class="">
					<label for="">fotografia</label>
					<input type="text" name="fotografia" value="" required="false">
				</div>
				<div class="">
					<label for="">qr</label>
					<input type="text" name="qr" value="" required="false">
				</div>
				<div class="">
					<label for="">estado</label>
					<input type="number" name="estado" value="" required="false">
				</div>
				<div class="">
					<label for="">recogido</label>
					<input type="number" name="recogido" value="" required="false">
				</div>
				<div class="">
					<label for="">recojo_fecha</label>
					<input type="text" name="recojo_fecha" value="" required="false">
				</div>
				<div class="">
					<label for="">foto_ci</label>
					<input type="text" name="foto_ci" value="" required="false">
				</div>
				<div class="">
					<label for="">entregado_por</label>
					<input type="text" name="entregado_por" value="" required="false">
				</div>
				<div class="">
					<label for="">habilitado</label>
					<input type="number" name="habilitado" value="" required="false">
				</div>
				<div class="">
					<label for="">correo</label>
					<input type="text" name="correo" value="" required="false">
				</div>
			<button type="submit">Save personas</button>
		</form>
		<br />
		<a href="/personas">Index</a>
	</div>
</div>
