<main>
    <div class="row">
        <div class="col s12">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Controlar Asistencia</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input type="text" id="inputBuscar" class="autocomplete">
                                <label for="inputBuscar">Buscar a militante</label>
                            </div>
                        </div>
                    </div>
                </div>



                <table class="striped" id="tablaMilitantes">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Cedula</th>
                            <th>Celular</th>
                            <th>Asistencia</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large pink waves-effect waves-light">
            <i class="large material-icons">add</i>
        </a>

        <ul>
            <li>
                <a class="btn-floating red"><i class="material-icons">note_add</i></a>
                <a href="" class="btn-floating fab-tip">Adicionar Militante</a>
            </li>
        </ul>
    </div>
</main>



<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Actualizar Información</h4>

        <div class="row">
            <form id="formActualizar" class="col s12">
                <input id="inputId" type="number" name="id" hidden=true class="validate">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="inputNombre" type="text" name="nombre" class="validate">
                        <label for="inputNombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="inputCedula" type="tel" name="cedula" class="validate">
                        <label for="inputCedula">Cedula</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="inputCelular" type="number" name="celular" class="validate">
                        <label for="inputCelular">Celular</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">location_on</i>
                        <input id="inputDireccion" type="tel" name="direccion" class="validate">
                        <label for="inputDireccion">Dirección</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        <input id="inputFechaNac" type="date" name="fechaNac" class="datepicker">
                    </div>
                    <div class="input-field col s6">
                        <!-- <i class="material-icons prefix">people</i> -->

                        <select class="browser-default" id="inputSexo" name="inputSexo">
                            <option value="1" disabled selected> Selecionar Genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                        <!-- <label>Seleccionar Genero</label> -->
                    </div>
                    <div class="input-field col s8">
                            <i class="material-icons prefix">person_add</i>
                            <input id="inputRem" type="text" name="remplazo" class="validate">
                            <label for="inputRem">Remplazo</label>
                    </div>
                    <div class="input-field col s4">
                            <i class="material-icons prefix">card_membership</i>
                            <input id="inputCedulaRem" type="text" name="ci_remplazo" class="validate">
                            <label for="inputCedulaRem">Cedula remplazo</label>
                    </div>
         
                </div>

                <!-- <input type="submit" value="Actualizar"> -->
                <button id="btnActualizar" class="btn waves-effect waves-light" type="button">Actualizar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
    <div class="modal-footer">

        <div id="carga" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<script>

    $('#carga').hide();
    $('.button-collapse').sideNav();

    $('.collapsible').collapsible();

    $('select').material_select();
    //$('select').formSelect();

    // $('.datepicker').datepicker();

    var auxMilitantes = <%- JSON.stringify(militantes) %>

        // var votosTrue = auxMilitantes.filter(auxVoto => auxVoto.voto == true);
        // var auxAsistencias = votosTrue.length;
    function actualizarTabla(listaMilitantes) {
            $('#tablaMilitantes > tbody').empty()
            listaMilitantes.forEach(function (militante, index) {
                $('#tablaMilitantes > tbody').append('<tr id="tr' + militante.id + '">' +
                    '<td>' + (index + 1) + '</td>' +
                    '<td>' + militante.nombre + '</td>' +
                    '<td>' + militante.cargo + '</td>' +
                    '<td>' + militante.cedula + '</td>' +
                    '<td>' + militante.celular + '</td>' +
                    '<td>' + '<div class="switch"><label>NO<input id="voto' + militante.id + '" type="checkbox"><span class="lever"></span>SI</label></div>' + '</td>' +
                    '<td>' + '<button class="waves-effect waves-light btn" onclick="actualizarMilitante(' + militante.id + ')" type="button"><i class="material-icons">edit</i></button>' + '</td>' +
                    '</tr>')
                $('#voto' + militante.id).attr('checked', militante.asistencia)
                $('#voto' + militante.id).click(function () {
                    console.log($('#voto' + militante.id).prop('checked'))
                    $.ajax({
                        type: "PATCH",
                        url: "/militante/" + militante.id,
                        data: { asistencia: $('#voto' + militante.id).prop('checked'),hora:new Date().toTimeString()},
                        dataType: "json",
                        success: function (response) {
                            //if request if made successfully then the response represent the data
                            console.log(response);
                            // auxMilitantes
                            
                            $('.modal').closeModal();
                            $('#carga').hide()
                        }
                    });


                })
            }, this);
        }

    function actualizarMilitante(idMilitante) {
        console.log(idMilitante)

        var militante = auxMilitantes.filter(dato => dato.id == idMilitante)
        var linea = $('#tr' + idMilitante).find('td')
        
        $('#inputId').val(idMilitante)
        var auxFecha = new Date(militante[0].fechaNac)
        
        
        var dia = parseInt(auxFecha.getDate()) +1;
        var mes = parseInt(auxFecha.getMonth()) +1;
        
        console.log('Console Log:', militante)

        if(dia<10){
            dia='0'+dia;
        }
        if(mes<10){
            mes='0'+mes;
        }
        $('#inputNombre').val(militante[0].nombre)
        $('#inputCedula').val(militante[0].cedula)
        $('#inputCelular').val(militante[0].celular)
        $('#inputDireccion').val(militante[0].direccion)
       $('#inputSexo').val(militante[0].sexo)
       //$("#inputSexo option[value='O']").attr('selected', 'selected');

       // $('#inputSexo option[value='+militante[0].sexo+']').prop('selected','selected');

        //$('#inputSexo option:contains(' + militante[0].sexo + ')').prop({selected: true});
        $('#inputFechaNac').val(auxFecha.getFullYear()+'-'+mes+'-'+dia)
        console.log('FECHA:',auxFecha.getFullYear()+'-'+auxFecha.getMonth()+'-'+auxFecha.getDate())
        
        $('#inputRem').val(militante[0].remplazo)
        $('#inputCedulaRem').val(militante[0].ci_remplazo)
        $('.modal').openModal();
    };


    actualizarTabla(auxMilitantes);
    $('#inputBuscar').keyup(function (event) {
        var auxBuscar = $('#inputBuscar').val()

        console.log('AUXBUSCAR:', auxBuscar)
        // $.post("/controlador/buscarMilitante", { nombre: auxBuscar })
        // .done(function( data ) {
        //     console.log(data)
        // });
        $.ajax({
            type: "POST",
            url: "/controlador/buscarMilitante",
            data: { nombre: auxBuscar },
            dataType: "json",
            success: function (response) {
                //if request if made successfully then the response represent the data
                console.log(response)
                actualizarTabla(response)
                auxMilitantes = response;
            }
        });


    })


    $('#btnActualizar').click(function () {
        $('#carga').show()
        var form = $('#formActualizar').serialize()
        var id = $('#formActualizar').serializeArray()

        form+='&sexo='+$('#inputSexo').val();
        console.log(form)
        $.ajax({
            type: "PATCH",
            url: "/militante/" + id[0].value,
            data: form,
            dataType: "json",
            success: function (response) {
                //if request if made successfully then the response represent the data
                // console.log(response);
                // auxMilitantes

                $('.modal').closeModal();
                $('#carga').hide()
            }
        });

    })
</script>
<script type="text/javascript" src="/dependencies/sails.io.js"></script>

<script type="text/javascript">
    io.socket.on('militante', function osoSubscribe(data) {
        var auxMilitante = data.data;
        console.log('MILITANTE ALERTA:', data)

        auxMilitantes = auxMilitantes.map(obj => {
            if (obj.id == auxMilitante.id) {
                obj = Object.assign({}, obj, auxMilitante)
            }
            return obj
        })

        actualizarTabla(auxMilitantes)
    });

    // $('btnPrueba').click(function () {

    io.socket.get('/militante', function osoRespuesta(body, response) {
        console.log('ACTUAL Militante', body);
    });
    // })

</script>