<main>
    <div class="row">
        <div class="col s12">
            <div style="padding: 35px;" align="center" class="card">
                <div class="row">
                    <div class="left card-title">
                        <b>Controlar Asistencia</b>
                    </div>
                </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Actualizar Información</h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Guardar</a>
    </div>
  </div>

                <!--<div class="row">
                    <a href="#!">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">person</i>
                            <span class="indigo-text text-lighten-1"><h5>Seller</h5></span>
                        </div>
                    </a>
                    <div class="col s1">&nbsp;</div>
                    <div class="col s1">&nbsp;</div>

                    <a href="#!">
                        <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                            <i class="indigo-text text-lighten-1 large material-icons">people</i>
                            <span class="indigo-text text-lighten-1"><h5>Customer</h5></span>
                        </div>
                    </a>
                </div>-->



                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input type="text" id="inputBuscar" class="autocomplete">
                                <label for="inputBuscar">Buscar a militante</label>
                            </div>
                        </div>
                    </div>
                </div>



                <table class="striped" id="tablaMilitantes">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Cedula</th>
                            <th>Celular</th>
                            <th>Asistencia</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--<tr>
                            <td>0</td>
                            <td>ToPa</td>
                            <td>Ricardo</td>
                            <td>707052</td>
                            <td>

                                <div class="switch">
                                    <label>
                                    NO
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    SI
                                  </label>
                                </div>
                            </td>
                        </tr>-->

                    </tbody>
                </table>
            </div>
        </div>


    </div>


    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large pink waves-effect waves-light">
            <i class="large material-icons">add</i>
        </a>

        <ul>
            <li>
                <a class="btn-floating red"><i class="material-icons">note_add</i></a>
                <a href="" class="btn-floating fab-tip">Adicionar Militante</a>
            </li>
        </ul>
    </div>
</main>





<script>
    $('.button-collapse').sideNav();

    $('.collapsible').collapsible();

    $('select').material_select();
    $(document).ready(function(){
    
  });

    var auxMilitantes = <%- JSON.stringify(militantes) %>

        // var votosTrue = auxMilitantes.filter(auxVoto => auxVoto.voto == true);
        // var auxAsistencias = votosTrue.length;
        function actualizarTabla(listaMilitantes) {
            $('#tablaMilitantes > tbody').empty()
            listaMilitantes.forEach(function (militante, index) {
                $('#tablaMilitantes > tbody').append('<tr id="tr' + militante.id + '">' +
                    '<td>' + (index + 1) + '</td>' +
                    '<td>' + militante.paterno + ' ' + militante.materno + ' ' + militante.nombre + '</td>' +
                    '<td>' + militante.cargo + '</td>' +
                    '<td>' + militante.cedula + '</td>' +
                    '<td>' + militante.celular + '</td>' +
                    '<td>' + '<div class="switch"><label>NO<input id="voto' + militante.id + '" type="checkbox"><span class="lever"></span>SI</label></div>' + '</td>' +
                    '<td>' + '<button class="waves-effect waves-light btn" onclick="actualizarMilitante('+militante.id+')" type="button"><i class="material-icons">edit</i></button>' + '</td>' +
                    '</tr>')
                $('#voto' + militante.id).attr('checked', militante.asistencia)
                $('#voto' + militante.id).click(function () {
                    console.log($('#voto' + militante.id).prop('checked'))

                })
            }, this);
        }


        
        function actualizarMilitante(idMilitante){
            console.log(idMilitante)
            var linea = $('#tr'+idMilitante).find('td')
            console.log('LINEA:',linea)
            $('.modal').openModal();
        };
        
        
        actualizarTabla(auxMilitantes);
        $('#inputBuscar').keyup(function (event) {
        var auxBuscar = $('#inputBuscar').val()

        console.log('AUXBUSCAR:', auxBuscar)
        // $.post("/controlador/buscarMilitante", { nombre: auxBuscar })
        // .done(function( data ) {
        //     console.log(data)
        // });
        $.ajax({
            type: "POST",
            url: "controlador/buscarMilitante",
            data: { nombre: auxBuscar },
            dataType: "json",
            success: function (response) {
                //if request if made successfully then the response represent the data
                console.log(response)
                actualizarTabla(response)
            }
        });


    })

</script>